<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint Reporter</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/main.css">
  </head>

  <body>

    <table>
      <caption><h2>User Story Manager - List of User Stories</h2></caption>
      <thead>
        <th>ID</th>
        <th>Story Title</th>
        <th>User Story</th>
        <th>Acceptance Criteria</th>
        <th>Business Value</th>
        <th>Estimation</th>
        <th>Status</th>
        <th>Update</th>
        <th>Del</th>
      </thead>

      <tbody>
        <!--PUT-->
        {% for n in query %}

        <tr>
          <td>{{n[0]}}</td>
          <td>{{n[1]}}</td>
          <td>{{n[2]}}</td>
          <td>{{n[3]}}</td>
          <td>{{n[4]}}</td>
          <td>{{n[5]}}</td>
          <td>{{n[6]}}</td>
          <td><form action="/modify_user_story/{{n[0]}}" method="get">
              <input type="image" id="edit" src="../static/img/pen.png" width="20" align="center" alt="Edit"></td>
          </form>
          <td><input type="image" id="edit" src="../static/img/bin.png" width="20" align="center" alt="Delete"></td>
        </tr>

        {% endfor %}


      </tbody>
    </table>

   <form action="/story" method="get"><button>Add a New User Story</button></form>

  </body>

</html>
